/*
|--------------------------------------------------------------------------
| Label
|--------------------------------------------------------------------------
| @namespace: frm-
|
*/
.frm-Label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
