/*
|--------------------------------------------------------------------------
| Progress
|--------------------------------------------------------------------------
| @namespace: rgs-
|
*/
@import "../../../styles/app";

.rgs-Progress {
  position: relative;
  height: 100vh;
  padding: 20px 0 120px 0;
  box-shadow: 0 0 10px 2px rgba(000, 000, 000, 0.05);
}

.rgs-Progress_Inner {
  @include Grid_Container;
}

.rgs-Progress_Body {
  padding: 0 52px 0 32px;
}

.rgs-Progress_Logo {
  width: 130px;
  margin-bottom: 40px;
}

.rgs-Progress_Item {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}
