/*
|--------------------------------------------------------------------------
| Item
|--------------------------------------------------------------------------
| @namespace: frm-
|
*/
.frm-Item {
  width: calc((1 / 2 * 100%) - var(--Grid_Gutter) * 2);
  margin: 32px var(--Grid_Gutter) 0;

  &:nth-child(-n + 2) {
    margin-top: 0;
  }
}
