/*
|--------------------------------------------------------------------------
| Form step
|--------------------------------------------------------------------------
| @namespace: rgs-
|
*/
@import "../../../styles/app";

.rgs-FormStep {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;

  .rgs-Form_Item-active & {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity var(--Global_Transition), transform var(--Global_Transition);
  }
}

.rgs-FormStep_Title {
  @include Font_32-48;

  margin-bottom: 32px;
  color: var(--Color_Brand);
}
