/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
| @namespace: prd-
|
*/
@import "../../../styles/app";

.prd-Card {
  align-items: center;
  display: flex;
}

.prd-Card_Image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prd-Card_ImageContainer {
  flex-shrink: 0;
  width: 90px;
  height: 180px;

  .prd-Card-small & {
    height: 90px;
    width: 35px;
  }
}

.prd-Card_Body {
  margin-left: 32px;
}

.prd-Card_Title {
  margin-bottom: 4px;
  font-family: var(--Font_Family-noto);
  font-size: 22px;
  line-height: 32px;

  .prd-Card-small & {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 26px;
  }
}

.prd-Card_Text {
  color: var(--Color_Grey);
}

.prd-Card_Link {
  align-items: center;
  display: flex;
  margin-top: 16px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;

  svg {
    margin-left: 16px;
    width: 14px;
  }

  .prd-Card-small & {
    display: none;
  }
}
