/*
|--------------------------------------------------------------------------
| Input
|--------------------------------------------------------------------------
| @namespace: frm-
|
*/
.frm-Input {
  display: block;
  width: 100%;
  padding: 10px var(--Grid_Gutter);
  border-width: 1px;
  border-color: var(--Color_Border);
  border-style: solid;
  box-shadow: none;
  transition: border-color var(--Global_Transition);
  font-size: 16px;
  background-color: #fff;

  .frm-Item-checkbox & {
    flex-shrink: 0;
    width: 14px;
    height: 16px;
    margin: 0 var(--Grid_Gutter) 0 0;
  }

  &::placeholder {
    font-size: 16px;
  }

  &:focus {
    border-color: var(--Color_Brand);
  }
}
