/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
| @namespace: frm-
|
*/
.frm-Container_Items {
  flex-wrap: wrap;
  display: flex;
  margin: 0 -16px;
}
