/*
|--------------------------------------------------------------------------
| Basket
|--------------------------------------------------------------------------
| @namespace: prd-
|
*/
@import "../../../styles/app";

.prd-Basket {
  position: fixed;
  top: calc(100% - 98px);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  flex-direction: column;
  display: flex;
  transform: translateY(100%);
  transition: transform var(--Global_Transition), top 0.28s;
}

.prd-Basket-active {
  transform: translateY(0);
}

.prd-Basket-open {
  top: 30%;
}

.prd-Basket_Content {
  flex-grow: 1;
  padding: 52px 0 100px;
  background-color: #fff;
  border-radius: 32px 32px 0 0;
  overflow-y: scroll;
  box-shadow: 0 0 10px 2px rgba(000, 000, 000, 0.1);
}

.prd-Basket_Inner {
  @include Grid_Container;
}

.prd-Basket_Header {
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  z-index: 11;
  justify-content: center;
  display: flex;
  padding-top: 8px;
  height: 52px;
  background-color: #fff;
  border-radius: 32px 32px 0 0;
}

.prd-Basket_Title {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.prd-Basket_Close {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80px;
  margin: 0 auto 16px;
  padding: 6px 10px;
  background: var(--Color_Red);
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  box-shadow: 0 0 10px 2px rgba(209, 52, 56, 0.1);
  border-radius: 100px;
  opacity: 0;
  transition: opacity var(--Global_Transition);

  .prd-Basket-open & {
    opacity: 1;
  }
}

.prd-Basket_Item {
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }
}

.prd-Basket_Footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 16px 32px;
  opacity: 0;

  .prd-Basket-open & {
    opacity: 1;
    transition: opacity var(--Global_Transition) 0.28s;
  }
}
