/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
| @namespace: rgs-
|
*/
@import "../../../styles/app";

.rgs-Form {
  background-color: var(--Color_Grey-light);
}

.rgs-Form_Inner {
  @include Grid_Container;
}

.rgs-Form_Content {
  flex-direction: column;
  display: flex;
  height: 100vh;
  padding: 100px 0 120px 0;
}

.rgs-Form_Body {
  position: relative;
  margin: 0 44px;
}

.rgs-Form_Footer {
  margin-top: auto;
  padding: 0 44px;
}

.rgs-Form_Item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.rgs-Form_Item-active {
  z-index: 1;
}
