@import "./mixins";

/*
|--------------------------------------------------------------------------
| Font mixins
|--------------------------------------------------------------------------
|
*/
@mixin Kicker {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 14px;
  color: var(--Color_Brand);
}

@mixin Font_14-24 {
  font-size: 14px;
  line-height: 24px;
}

@mixin Font_16-28 {
  font-size: 16px;
  line-height: 28px;
}
