/*
|--------------------------------------------------------------------------
| Media mixins
|--------------------------------------------------------------------------
|
*/
$screen-sm-min: 768px;
$screen-md-min: 900px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1440px;
$screen-xxlg-min: 1600px;

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xlg {
  @media (min-width: #{$screen-xlg-min}) {
    @content;
  }
}

@mixin xxlg {
  @media (min-width: #{$screen-xxlg-min}) {
    @content;
  }
}

/*
|--------------------------------------------------------------------------
| Button mixins
|--------------------------------------------------------------------------
|
*/
@mixin Button {
  min-width: 126px;
  padding: 8px calc(var(--Grid_Gutter) * 2);

  background-color: var(--Color_Brand);
  border: 1px solid var(--Color_Brand);
  color: #fff;

  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--Font_Family);
  cursor: pointer;

  transition: background-color var(--Global_Transition),
  border var(--Global_Transition),
  color var(--Global_Transition), box-shadow var(--Global_Transition);
}

@mixin Button-primary {
  @include Button;

  color: #fff;
}

@mixin Button-secondary {
  @include Button;

  padding: 0;
  background-color: transparent;
  color: var(--Color_Brand);
  border: none;
}

/*
|--------------------------------------------------------------------------
| Grid mixins
|--------------------------------------------------------------------------
|
*/
@mixin Grid_Container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--Grid_Gutter);

  @include sm {
    max-width: calc(var(--Grid_Container) + (var(--Grid_Gutter) * 4));
    padding: 0 calc(var(--Grid_Gutter) * 2);
  }

  @include lg {
    max-width: calc(var(--Grid_Container) + (var(--Grid_Gutter) * 6));
    padding: 0 calc(var(--Grid_Gutter) * 3);
  }
}

@mixin Grid_Container-noMax {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--Grid_Gutter);

  @include sm {
    padding: 0 calc(var(--Grid_Gutter) * 2);
  }

  @include lg {
    padding: 0 calc(var(--Grid_Gutter) * 3);
  }
}
/*
|--------------------------------------------------------------------------
| Absolute mixin
|--------------------------------------------------------------------------
|
*/
@mixin Position_Absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin Position_Fixed {
  position: Fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
