/*
|--------------------------------------------------------------------------
| Progress item
|--------------------------------------------------------------------------
| @namespace: rgs-
|
*/
.rgs-ProgressItem {
  align-items: center;
  display: flex;
  color: var(--Color_Grey);
  transition: color var(--Global_Transition);

  .rgs-Progress_Item-active & {
    color: var(--Color_Brand);
  }
}

.rgs-ProgressItem-completed {
  color: var(--Color_Green);
}

.rgs-ProgressItem_Text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.rgs-ProgressItem_Number {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  font-size: 11px;
  font-weight: 900;
  border: 1px solid var(--Color_Grey);
  border-radius: 100%;
  transition: color var(--Global_Transition), border-color var(--Global_Transition);

  .rgs-Progress_Item-active & {
    color: var(--Color_Brand);
    border-color: var(--Color_Brand);
  }
}

.rgs-ProgressItem_Icon {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  opacity: 0;
  transition: opacity var(--Global_Transition);

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--Color_Grey);
    transition: fill var(--Global_Transition);

    .rgs-ProgressItem-completed & {
      fill: var(--Color_Green);
    }

    .rgs-Progress_Item-active & {
      fill: var(--Color_Brand);
    }
  }

  .rgs-ProgressItem-completed & {
    opacity: 1;
  }
}

.rgs-ProgressItem_Arrow {
  display: flex;
  width: 18px;
  margin-bottom: 2px;
  margin-left: var(--Grid_Gutter);
  opacity: 0;
  transform: translateX(-10px);
  transition: transform var(--Global_Transition), opacity var(--Global_Transition);

  .rgs-Progress_Item-active & {
    opacity: 1;
    transform: translateX(0);
  }

  svg {
    width: 18px;
    height: 18px;
    fill: var(--Color_Grey);

    .rgs-ProgressItem-completed & {
      fill: var(--Color_Green);
    }

    .rgs-Progress_Item-active & {
      fill: var(--Color_Brand);
    }
  }
}
